.wish-nav {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    font-size: 20px;
    font-weight: 500;
    background-color: #eae7dd;
    margin-bottom: 1rem;
    align-items: center !important;
    padding: 1rem 8rem 0 1rem;
}
.link {
    text-decoration: none;
    color: black;
}


/*-------------------------------cart table--------------------------------------------------*/

.table{
    margin-top: 2rem;
    padding-right: 5rem !important;
    padding-right: 5rem !important;
   
}
.qinput{
height: 3rem;
width: 4rem;
padding: .5rem;
}
.amountBox{
    width: 100%;
    padding-left: 60rem;
    margin-top: 5rem;
    font-weight: 600;
}
.amountBox1 {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.buy{
    position: absolute;
    right: 18%;
}